---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const {
	id,
	data: { title, description, date, banner },
} = Astro.props;
---

<a href={`/blog/${id}`} class="post-link" data-post-id={id}>
	<div class="card">
		<img src={banner} alt={title} class="post-banner" />

		<div class="section">
			<div class="post-heading">
				<span>{date}</span>
				<h1 class="line-clamp">{title}</h1>
			</div>

			<p class="line-clamp">{description}</p>
		</div>
	</div>
</a>

<style>
	.post-link {
		color: inherit;
		text-decoration: none;
	}

	.post-link.hidden {
		display: none;
	}

	.card {
		--hn-local-shape: var(--hn-sys-shape-medium);
		--hn-local-padding: calc(2 * var(--hn-local-shape));
		position: relative;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		gap: var(--hn-local-padding);
		width: 100%;
		padding: var(--hn-local-padding);
		overflow: hidden;
		background-color: var(--hn-sys-color-surface);
		border: 1px solid var(--hn-sys-color-outline-variant);
		border-radius: var(--hn-local-shape);
	}

	.section {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--hn-local-padding);
	}

	.line-clamp {
		--hn-local-line-clamp: 1;

		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: var(--hn-local-line-clamp);
		line-clamp: var(--hn-local-line-clamp);
	}

	.post-heading {
		display: flex;
		flex-direction: column;
		gap: var(--hn-sys-shape-small);
	}

	@media (max-width: 600px) {
		.post-title > h1 {
			font-size: 1.5em;
		}
	}

	.post-banner {
		width: calc(100% + (2 * var(--hn-local-padding)));
		aspect-ratio: 2 / 1;
		margin: 0 calc(-1 * var(--hn-local-padding));
		margin-top: calc(-1 * var(--hn-local-padding));
		object-fit: cover;
	}
</style>
