---
interface Props {
    title: string;
    description: string;
    children: any;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            content="width=device-width, initial-scale=1, viewport-fit=cover"
            name="viewport"
        />

        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&family=Figtree:ital,wght@0,700;1,700&display=swap"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://github.com" crossorigin />
        <link rel="preconnect" href="https://bignutty.gitlab.io" crossorigin />

        <title>{title}</title>

        <meta content="website" property="og:type" />

        <meta content={title} property="og:title" />
        <meta content={description} property="og:description" />
        <meta content={description} name="description" />

        <meta content={title} property="twitter:title" />
        <meta content={description} property="twitter:description" />

        <meta content="#ff6868" name="theme-color" />

        <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    :root {
        --hn-ref-font-brand: "Dela Gothic One", sans-serif;
        --hn-ref-font-heading: "Figtree", sans-serif;
        --hn-ref-font-plain: "Roboto", sans-serif;

        --hn-sys-custom-color-hood-network-red: #ff6868;

        --hn-sys-color-on-background: #fff;
        --hn-sys-color-accent: #3c3f44;
        --hn-sys-color-outline: #545659;
        --hn-sys-color-surface-variant: #303236;
        --hn-sys-color-outline-variant: #5a5c60;

        --hn-sys-grad-background: linear-gradient(0deg, #181b1e, #23272b);
        --hn-sys-grad-card: linear-gradient(to bottom right, #5a5c60, #3c4044);
    }

    @media (prefers-color-scheme: light) {
        :root {
            --hn-sys-color-on-background: #404040;
            --hn-sys-color-accent: #f1f2f3;
            --hn-sys-color-outline: #c9cbcf;
            --hn-sys-color-surface-variant: #f1f2f3;
            --hn-sys-color-outline-variant: #23272b;

            --hn-sys-grad-background: linear-gradient(0deg, #ffffff, #f9fafb);
            --hn-sys-grad-card: linear-gradient(
                to bottom right,
                #d6d8db,
                #e4e5e7
            );
        }
    }

    :global(*) {
        /* box-sizing: border-box; */
        padding: 0;
        margin: 0;
    }

    html {
        min-height: 100vh;
    }

    body {
        box-sizing: border-box;
        min-height: 100vh;
        background: var(--hn-sys-grad-background);
        color: var(--hn-sys-color-on-background);
        font-family: var(--hn-ref-font-plain);
    }

    @supports (min-height: 100cqh) {
        body {
            min-height: 100cqh;
        }
    }

    @supports (min-height: 100svh) {
        body {
            min-height: 100svh;
        }
    }

    :global(a) {
        color: var(--hn-sys-custom-color-hood-network-red);
    }
</style>
